body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.71;

    background-color: #f5f5f5;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 10px -8px 19px 0px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 10px -8px 19px 0px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 10px -8px 19px 0px rgba(0, 0, 0, 0.78);
}

.link {
    text-decoration: none;
}

.main-content-section {
    padding: 100px 90px;
}

.main-content-title,
.my-education-header,
.sidebar-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.22;
    color: #000;
    margin-bottom: 12px;
}

.about-me-section {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-weight: bold;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.22;
    color: #000;
    margin: 0 0 25px 0;
}

.about-me-description {
    width: 400px;
    color: #595959;
}

.my-projects-section {
    margin: 0 0 50px 0;
}

.my-projects-list {
    padding: 0 0 0 25px;
}

.my-projects-item,
.my-projects-bracket {
    color: #000;
    font-weight: bold;
}

.my-projects-link {
    color: #000;
}

.my-projects-text {
    color: #000;
}

.my-projects-description {
    font-weight: 400;
    color: #595959;
}

.my-education-university {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #c03a3a;

    margin-bottom: 11px;
}

.faculty-first {
    font-weight: bold;
    line-height: 17px;
}

.faculty-first {
    margin-bottom: 20px;
}

.photo {
    /* width: 100%;
  border-radius: 180px; */
    width: 300px;
    display: flex;
    border-radius: 150px;
    margin: auto;
}

.sidebar-section {
    
    background-color: #3c3c40;
    width: 370px;
    padding: 40px 0;
    border-top-left-radius: 196px;
    border-top-right-radius: 196px;
    box-shadow: 18px 17px 19px 5px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 18px 17px 19px 5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 18px 17px 19px 5px rgba(0, 0, 0, 0.55);

    /* background: #181414;
    background: linear-gradient(22deg, #000000 0%, #e6e6e6 80%);
    background: -webkit-linear-gradient(22deg, #181414 0%, #7e8b7e 80%);
    background: -moz-linear-gradient(22deg, #181414 0%, #7e8b7e 80%); */
}

.sidebar-title {
    color: #fff;
}

.contacts-section {
    margin: 50px 0 0 40px;
}

.contact-section-type {
    color: #fff;
    display: flex;
}

.contact-section-link {
    color: #fff;
    display: flex;
    margin-bottom: 5px;
}

.tech-skills-list {
    padding: 0 0 0 22px;
}

.tech-skills-item {
    color: #c03a3a;
}

.tech-skills-section {
    margin: 50px 0 0 40px;
}

.tech-skills-item-text {
    font-weight: normal;
    color: #fff;
}

.soft-skills-section {
    margin: 50px 0 0 40px;
}

